html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, figure, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: #000;
  background: #fff;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

a img {
  border: 0;
}

.hidden {
  display: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Proxima-Nova", Helvetica, Arial, sans-serif;
  line-height: 1;
  color: #000;
  background: #fff;
  margin: -1px 0 0;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

input,
button,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

strong {
  font-weight: bold;
}

hr {
  border: 0;
  border-top: 1px solid #DADAE7;
  width: 100%;
  margin: 2em 0;
}

ul {
  margin: 0;
  padding: 0;
}

[class*="heading"] {
  margin-bottom: 0.5em;
}

.c-heading-1 {
  font-size: 40px;
  line-height: 1;
  font-weight: 600;
}

.c-heading-2 {
  font-size: 28px;
  color: #7F7E9E;
  line-height: 1;
  font-weight: 300;
  line-height: 1.2em;
}

@media screen and (min-width: 768px) {
  .c-heading-2 {
    font-size: 42px;
  }
}

.c-heading-4 {
  font-size: 30px;
  color: #7F7E9E;
  font-weight: 300;
}

.c-heading-5 {
  font-size: 26px;
  color: #7F7E9E;
  font-weight: 300;
}

.c-subheading-1 {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5em;
}

.c-subheading-5 {
  font-size: 18px;
  font-weight: 300;
}

[class*="c-paragraph"] {
  margin-bottom: 1em;
}

.c-paragraph-0 {
  font-size: 0.9rem;
}

.c-paragraph-1 {
  font-size: 1rem;
}

.c-paragraph-2 {
  font-size: 20px;
  font-weight: 300;
}

.button {
  border: 0;
  padding: 0;
  margin: 0;
  line-height: 2.65;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  color: #fff;
  background-color: #F2778A;
  min-width: 80%;
}

@media screen and (min-width: 768px) {
  .button {
    min-width: 260px;
  }
}

.button--cta {
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  background-color: #FFC442;
  line-height: 3.75;
  font-size: 1em;
}

.c-price {
  font-size: 22px;
  color: #989898;
  margin-bottom: 0.3em;
}

.c-price + .c-caption strong {
  color: black;
}

.c-price [itemprop="price"] {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.c-price ~ .button {
  width: 0;
  margin: 1.5em auto;
}

@media screen and (min-width: 768px) {
  .c-price ~ .button {
    margin: 1.5em auto;
    min-width: 250px !important;
  }
}

.c-caption {
  color: #989898;
  font-size: 1em;
}

.c-link {
  color: #67A2EE;
  font-weight: bold;
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}

.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
}

.hide {
  display: none !important;
}

.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.slider.slider-horizontal {
  height: 20px;
  width: 250px;
}

@media screen and (min-width: 768px) {
  .slider.slider-horizontal {
    width: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .slider.slider-horizontal {
    width: 600px;
  }
}

.slider.slider-horizontal .slider-track {
  height: 10px;
  width: 100%;
  margin-top: -16px;
  top: 50%;
  left: 0;
}

.slider.slider-horizontal .slider-selection {
  height: 100%;
  top: 0;
  bottom: 0;
}

.slider.slider-horizontal .slider-handle {
  margin-left: -10px;
  margin-top: -5px;
}

.slider.slider-horizontal .slider-handle.triangle {
  border-width: 0 10px 10px 10px;
  width: 0;
  height: 0;
  border-bottom-color: #0480be;
  margin-top: 0;
}

.slider.slider-vertical {
  height: 210px;
  width: 20px;
}

.slider.slider-vertical .slider-track {
  width: 10px;
  height: 100%;
  margin-left: -5px;
  left: 50%;
  top: 0;
}

.slider.slider-vertical .slider-selection {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

.slider.slider-vertical .slider-handle {
  margin-left: -5px;
  margin-top: -10px;
}

.slider.slider-vertical .slider-handle.triangle {
  border-width: 10px 0 10px 10px;
  width: 1px;
  height: 1px;
  border-left-color: #0480be;
  margin-left: 0;
}

.slider input {
  display: none;
}

.slider .tooltip-inner {
  white-space: nowrap;
  width: 60px;
  height: 30px;
  font-size: 18px;
}

.slider .tooltip.top {
  margin-top: -55px;
}

.slider-track {
  position: absolute;
  cursor: pointer;
  background-color: #fff;
  background-repeat: repeat-x;
  border-radius: 4px;
}

.slider-selection {
  position: absolute;
  background-color: #A8CEFF;
  background-repeat: repeat-x;
  box-sizing: border-box;
  border-radius: 4px;
}

.slider-handle {
  position: absolute;
  top: -6px;
  width: 20px;
  height: 20px;
  background-color: #67A2EE;
  background-repeat: repeat-x;
  border: 0px solid transparent;
}

.slider-handle.round {
  border-radius: 20px;
}

.slider-handle.triangle {
  background: transparent none;
}

.c-slider {
  margin: 2.5em auto 1em;
}

.c-increment {
  text-align: right;
  display: table-cell;
}

.c-increment [type="text"] {
  width: 40px;
  text-align: left;
  padding: 0 10px;
  height: 42px;
  border: 1px solid #DFDFE1;
  border-radius: 4px;
  margin: 0 8px;
}

@media screen and (min-width: 375px) {
  .c-increment [type="text"] {
    width: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .c-increment [type="text"] {
    width: 80px;
  }
}

.c-increment__button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.c-increment__button:hover {
  cursor: pointer;
}

.c-increment__button svg {
  position: relative;
  top: 5px;
  width: 22px;
  height: 22px;
}

.c-align-list__line-item {
  display: table;
  margin-left: auto;
  width: 100%;
  margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
  .c-align-list__line-item {
    margin-bottom: 1em;
  }
}

.c-align-list__string {
  color: #989898;
  width: 40%;
  text-align: left;
  display: table-cell;
  vertical-align: top;
}

@media screen and (min-width: 375px) {
  .c-align-list__string {
    width: 45%;
  }
}

@media screen and (min-width: 320px) and (orientation: landscape) {
  .c-align-list__string {
    text-align: right;
    width: 75%;
    vertical-align: middle;
  }
}

@media screen and (min-width: 768px) {
  .c-align-list__string {
    text-align: right;
    width: 70%;
    vertical-align: middle;
  }
}

@media screen and (min-width: 1280px) {
  .c-align-list__string {
    width: 73%;
    width: 440px;
  }
}

.Homepage--mobile-cta {
  display: none;
  width: 100%;
  font-size: 16.6px;
  color: #FFFFFF;
  background: #FFC442;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  text-decoration: none;
  padding: 21px 0 16px;
}

.Homepage--mobile-cta:active,
.Homepage--mobile-cta:hover,
.Homepage--mobile-cta:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.Homepage--mobile-cta:active,
.Homepage--mobile-cta:hover {
  background: #FEBE30;
}

@media (max-width: 767px) {
  .Homepage--mobile-cta {
    display: block;
  }
}

.Homepage-Header .item,
.Homepage-Header .social,
.Homepage-Header .spacer,
.Homepage-Header .logo,
.Homepage-Header .burger,
.Homepage-Header .signup {
  border-width: 0;
}

.Homepage-Footer .Footer--col.large form .hs_email.field.hs-form-field input {
  width: calc(100% - 7px) !important;
}

@media screen and (max-width: 1200px) {
  .Homepage-Footer .Footer--col.large form .hs_email.field.hs-form-field input {
    width: 100% !important;
  }
}

.m-hero {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  min-height: 484px;
  padding: 0 2rem;
}

.m-hero--pricing {
  background: #7F7E9E;
  background-image: linear-gradient(-180deg, rgba(242, 119, 137, 0) 1%, rgba(255, 255, 255, 0.5) 99%);
}

.m-hero--pricing .button--cta {
  margin-top: 2.5em;
}

.m-feature {
  width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 6px;
  background-color: rgba(127, 126, 158, 0.04);
}

@media screen and (min-width: 1024px) {
  .m-feature {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .m-feature {
    width: 1176px;
    margin: 0 auto;
  }
}

.m-feature [class*="c-heading"] {
  margin-bottom: 0.2em;
}

.m-feature .button {
  min-width: 85%;
}

@media screen and (min-width: 1280px) {
  .m-feature .button {
    min-width: 260px;
  }
}

.m-feature .f-value {
  color: #48BA7D;
  display: inline-block;
}

.m-feature .c-caption {
  line-height: 1.3em;
  margin: 0;
}

.m-feature__content--primary, .m-feature__content--secondary {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px 20px 20px;
}

@media screen and (min-width: 768px) {
  .m-feature__content--primary, .m-feature__content--secondary {
    padding: 40px;
  }
}

.m-feature__content--primary {
  -webkit-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  background-color: #fff;
  border-radius: 0 0 6px 6px;
  padding: 20px 20px 40px 20px;
}

@media screen and (min-width: 768px) {
  .m-feature__content--primary hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .m-feature__content--primary {
    padding: 40px;
    border-radius: 0 6px 6px 0;
  }
}

.m-feature__content--primary .c-paragraph-0 {
  color: #989898;
}

.m-feature__content--primary .c-paragraph-0 .f-value {
  font-size: 1.25em;
}

@media screen and (min-width: 1280px) {
  .m-feature__content--primary .c-paragraph-0 .f-value {
    display: inline-block;
    margin: 0;
  }
}

.m-feature__content--secondary {
  -webkit-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
}

.m-feature-panel {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .m-feature-panel {
    padding: 4rem;
  }
}

.m-feature-panel__content-group {
  margin-bottom: 2rem;
}

.m-feature-panel__content-group:last-of-type {
  margin-bottom: 0;
}

.m-feature-panel__content-group > [class*="c-heading"] {
  margin-bottom: 1.5em;
}

@media screen and (min-width: 1280px) {
  .m-feature-panel__content-group {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }
  .m-feature-panel__content-group:last-of-type {
    margin-bottom: 0;
  }
}

.m-feature-panel:nth-of-type(even) {
  background-color: rgba(127, 126, 158, 0.05);
}

.m-content-placement {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .m-content-placement {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .m-content-placement {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 1176px;
    margin: 0 auto;
  }
}

.m-content-placement__item {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .m-content-placement__item {
    text-align: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .m-content-placement__item .m-content-placement__content {
    -webkit-flex-basis: 600px;
    -ms-flex-preferred-size: 600px;
    flex-basis: 600px;
  }
  .m-content-placement__item .m-content-placement__content:first-of-type {
    margin-right: 2rem;
    -webkit-flex-basis: 52px;
    -ms-flex-preferred-size: 52px;
    flex-basis: 52px;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (orientation: landscape) {
  .m-content-placement__item .m-content-placement__content:first-of-type {
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .m-content-placement__item {
    display: block;
    text-align: center;
    -webkit-flex-basis: 29%;
    -ms-flex-preferred-size: 29%;
    flex-basis: 29%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .m-content-placement__item {
    text-align: center;
  }
  .m-content-placement__item .m-content-placement__content {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .m-content-placement__item .m-content-placement__content:first-of-type {
    margin: 0;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

.m-content-placement__item:last-of-type {
  margin-bottom: 0;
}

.m-content-placement__item [class*="c-subheading"] {
  color: #48BA7D;
  margin-bottom: 1.5rem;
}

.m-content-placement__item .c-paragraph-1 {
  color: #989898;
  line-height: 1.5rem;
}

.m-content-placement .context-svg-icon {
  width: 52px;
  margin-bottom: 2rem;
}

/*# sourceMappingURL=styles.css.map */
